.main-content {
	padding-top: 10%;
}
@media {width }
form.form {
	position: relative;
}
form.form .carousel-item {
	padding: 0 20px;
}
form.form .carousel-control-prev, .carousel-control-next {
	position: relative;
	width: 3em;
	margin: 2em auto 0 1em;
	display: inline-block;
}
form.form span.sr-only {
	width: auto;
	height: auto;
	position: relative;
	color: #333;
}
.clear {
	clear: both;
}
form.form button.submit-btn {
}
form.form textarea {
	height: 250px;
}
